<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="http://code.ionicframework.com/1.0.0-rc.5/css/ionic.min.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.0.0-rc.5/js/ionic.bundle.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app" ng-controller="MyCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Popcorn Time Movies</h1>
      </ion-header-bar>
      <ion-content>
		<div id="search-box" class="bar bar-header item-input-inset">
			<div class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
					<input type="search" placeholder="Search" ng-model="data.searchQuery">
				<i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
			</div>
		</div>

        <div class="list">
          <a class="item" ng-repeat="movie in movies | filter: data.searchQuery">
            {{movie.title}}
          </a>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>


